@CHARSET "UTF-8";

.container-wrapper{
	margin-top: 160px;
}

.table{
	table-layout: fixed;
	overflow: auto;
}

.table th{
	text-align: center;
	overflow: hidden;
}

.table td{
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}